@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background: #262626;
}

header {
  padding: 1.5rem 0;
  position: fixed;
  background: #262626;
  width: 100%;
  z-index: 5;
  color: #fff;
  border-bottom: 1px solid gray;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icon-bar {
      font-size: 1.5rem;
    }

    .desktop-menu {
      display: none;
    }
  }
}

section {
  padding: 7rem 0;

  article {
    color: #fff;

    h1 {
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
    }

    p {
      padding: 1rem 0;
      font-weight: 400;
    }

    h2 {
      text-align: center;
      font-weight: 500;
    }
  }
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid gray;
  background: #262626;
  height: 100vh;
  width: 70%;
  z-index: 5;
  color: #fff;

  .nav-bar {
    padding: 5rem 0;
    line-height: 5rem;

    h3 {
      font-size: 1.1rem;
      font-weight: 400;
      padding-left: 1.5rem;

      &:hover {
        color: black;
        background: #fff;
      }
    }
  }
}

form {
  text-align: center;
  padding: 1rem 0;

  input {
    background: linear-gradient(#262626, #262626) padding-box,
      linear-gradient(90deg, #e66a4c 1.63%, #c52932 52.91%) border-box;
    border: 2px solid transparent;
    border-radius: 1rem;
    width: 70%;
    height: 3rem;

    &[type="number"] {
      padding-left: 1rem;
      color: #fff;
    }
  }
}

.counter-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    width: 150px;
    height: 50px;
    margin: 1rem 0;
    border-radius: 0.5rem;
    font-weight: 600;
    background: #fff;

    &:hover {
      background: linear-gradient(rgb(111, 241, 111), rgb(111, 241, 111))
          padding-box,
        linear-gradient(90deg, #e66a4c 1.63%, #c52932 52.91%) border-box;
      border: 2px solid transparent;
      color: #fff;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #262626;
  overflow: hidden;
  z-index: -1;

  & span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &:nth-child(0) {
      color: #ffacac;
      top: 3%;
      left: 72%;
      animation-duration: 40s;
      animation-delay: -49s;
      transform-origin: 7vw -21vh;
      box-shadow: -40vmin 0 5.254342787734776vmin currentColor;
    }

    &:nth-child(1) {
      color: #583c87;
      top: 15%;
      left: 13%;
      animation-duration: 12s;
      animation-delay: -2s;
      transform-origin: -8vw 13vh;
      box-shadow: -40vmin 0 5.123290413878655vmin currentColor;
    }

    &:nth-child(2) {
      color: #ffacac;
      top: 64%;
      left: 14%;
      animation-duration: 24s;
      animation-delay: -48s;
      transform-origin: 15vw 17vh;
      box-shadow: -40vmin 0 5.546245114170138vmin currentColor;
    }

    &:nth-child(3) {
      color: #e45a84;
      top: 92%;
      left: 7%;
      animation-duration: 37s;
      animation-delay: -21s;
      transform-origin: 5vw 15vh;
      box-shadow: -40vmin 0 5.220179727021002vmin currentColor;
    }

    &:nth-child(4) {
      color: #583c87;
      top: 53%;
      left: 27%;
      animation-duration: 29s;
      animation-delay: -41s;
      transform-origin: -21vw 17vh;
      box-shadow: -40vmin 0 5.182551015335646vmin currentColor;
    }

    &:nth-child(5) {
      color: #583c87;
      top: 44%;
      left: 58%;
      animation-duration: 15s;
      animation-delay: -8s;
      transform-origin: -6vw 20vh;
      box-shadow: -40vmin 0 5.326180687652931vmin currentColor;
    }

    &:nth-child(6) {
      color: #e45a84;
      top: 5%;
      left: 52%;
      animation-duration: 54s;
      animation-delay: -42s;
      transform-origin: -3vw 4vh;
      box-shadow: 40vmin 0 5.472871009018297vmin currentColor;
    }

    &:nth-child(7) {
      color: #ffacac;
      top: 51%;
      left: 11%;
      animation-duration: 35s;
      animation-delay: -2s;
      transform-origin: -7vw 4vh;
      box-shadow: 40vmin 0 5.20228944945295vmin currentColor;
    }

    &:nth-child(8) {
      color: #ffacac;
      top: 32%;
      left: 29%;
      animation-duration: 32s;
      animation-delay: -22s;
      transform-origin: 15vw -13vh;
      box-shadow: -40vmin 0 5.6020319977905455vmin currentColor;
    }

    &:nth-child(9) {
      color: #ffacac;
      top: 94%;
      left: 31%;
      animation-duration: 37s;
      animation-delay: -32s;
      transform-origin: -20vw 24vh;
      box-shadow: 40vmin 0 5.269743405859737vmin currentColor;
    }

    &:nth-child(10) {
      color: #583c87;
      top: 80%;
      left: 69%;
      animation-duration: 55s;
      animation-delay: -13s;
      transform-origin: -16vw -14vh;
      box-shadow: -40vmin 0 5.304562727344714vmin currentColor;
    }

    &:nth-child(11) {
      color: #ffacac;
      top: 55%;
      left: 18%;
      animation-duration: 26s;
      animation-delay: -7s;
      transform-origin: -1vw -12vh;
      box-shadow: -40vmin 0 5.735952797325421vmin currentColor;
    }

    &:nth-child(12) {
      color: #e45a84;
      top: 18%;
      left: 39%;
      animation-duration: 47s;
      animation-delay: -9s;
      transform-origin: 1vw 23vh;
      box-shadow: 40vmin 0 5.095593978787603vmin currentColor;
    }

    &:nth-child(13) {
      color: #e45a84;
      top: 24%;
      left: 69%;
      animation-duration: 54s;
      animation-delay: -17s;
      transform-origin: -19vw 11vh;
      box-shadow: 40vmin 0 5.452936275898764vmin currentColor;
    }

    &:nth-child(14) {
      color: #e45a84;
      top: 52%;
      left: 5%;
      animation-duration: 49s;
      animation-delay: -21s;
      transform-origin: 2vw 5vh;
      box-shadow: 40vmin 0 5.107162955755403vmin currentColor;
    }

    &:nth-child(15) {
      color: #ffacac;
      top: 83%;
      left: 53%;
      animation-duration: 9s;
      animation-delay: -7s;
      transform-origin: -16vw 14vh;
      box-shadow: 40vmin 0 5.0658136578181185vmin currentColor;
    }

    &:nth-child(16) {
      color: #583c87;
      top: 48%;
      left: 100%;
      animation-duration: 19s;
      animation-delay: -49s;
      transform-origin: 17vw -10vh;
      box-shadow: -40vmin 0 5.4862606416589275vmin currentColor;
    }

    &:nth-child(17) {
      color: #583c87;
      top: 42%;
      left: 15%;
      animation-duration: 21s;
      animation-delay: -35s;
      transform-origin: -17vw -15vh;
      box-shadow: 40vmin 0 5.5066121314147765vmin currentColor;
    }

    &:nth-child(18) {
      color: #ffacac;
      top: 45%;
      left: 64%;
      animation-duration: 6s;
      animation-delay: -32s;
      transform-origin: 15vw 12vh;
      box-shadow: 40vmin 0 5.078503058470024vmin currentColor;
    }

    &:nth-child(19) {
      color: #583c87;
      top: 3%;
      left: 9%;
      animation-duration: 40s;
      animation-delay: -35s;
      transform-origin: 22vw 0vh;
      box-shadow: -40vmin 0 5.600390796944837vmin currentColor;
    }
  }
}

@media only screen and (max-width: 350px) {
  header {
    padding: 1rem 0;

    .header {
      h2 {
        font-size: 1.2rem;
      }

      &-icon-bar {
        font-size: 1.2rem;
      }
    }
  }

  nav {
    .nav-bar {
      padding: 5rem 0;
      line-height: 4rem;

      h3 {
        font-size: 0.9rem;
      }
    }
  }

  section {
    article {
      color: #fff;

      h1 {
        font-size: 1.5rem;
      }

      h2 {
        font-size: 1.2rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .container {
    width: 80%;
  }

  header {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 400;

      &-icon-bar {
        display: none;
      }

      h2 {
        font-weight: 400;
        font-size: 1.2rem;
        cursor: pointer;

        &:hover {
          color: #c52932;
        }
      }

      .desktop-menu {
        display: flex;
        align-items: center;

        h2 {
          margin-left: 1.5rem;
          font-weight: 400;
          cursor: pointer;

          &:hover {
            color: #c52932;
          }
        }
      }
    }
  }

  form {
    input {
      height: 5rem;

      &[type="number"] {
        padding-left: 3rem;
        font-size: 1.5rem;
      }
    }
  }

  section {
    padding: 9rem 0 0;

    article {
      color: #fff;
      text-align: center;

      h1 {
        font-size: 2.5rem;
      }

      p {
        padding: 2rem 0;
        font-size: 1.5rem;
      }

      h2 {
        font-size: 2rem;
      }

      .counter-btns {
        flex-direction: row;
        gap: 1.5rem;
        margin: 2rem 0;

        button {
          width: 200px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 800px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
